<%= month_calendar shifts: @shifts do |date, shifts| %>
  <%= date.day %>

  <% shifts.each do |shift| %>
    <div>
    <% if shift.start_time.present? %>
      <h1>otsutome.</h1>
    <% end %>
    </div>
  <% end %>
<% end %>